.row {
  display: flex;
  flex-direction: row;
}

.col-sm-1 {width: 8.33%;}
.col-sm-2 {width: 16.66%;}
.col-sm-3 {width: 25%;}
.col-sm-4 {width: 33.33%;}
.col-sm-5 {width: 41.66%;}
.col-sm-6 {width: 50%;}
.col-sm-7 {width: 58.33%;}
.col-sm-8 {width: 66.66%;}
.col-sm-9 {width: 75%;}
.col-sm-10 {width: 83.33%;}
.col-sm-11 {width: 91.66%;}
.col-sm-12 {width: 100%;}

[class*="col-sm-"] {
  /*border: 1px solid red;*/
  margin-right: 0.625rem; /* 10px */
}

[class*="col-sm-"] {
  /*border: 1px solid red;*/
  margin-right: 0.625rem; /* 10px */
}

.row [class*="col-sm-"]:last-child {
  margin-right: 0;
}