/*
 * RESET
 */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, 
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, 
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, 
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, 
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* 
 * GLOBAL
 */
html {
  font-size: 1rem; /* 16px */
}

body {
  font-family: Helvetica, Arial, sans-serif;
  background-color: #f1f1f1;
  color: #333;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

.container-fluid {
  max-width: 100%;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  color: #b00000;
  text-decoration: none;
}

em { 
  font-style: italic;
}

/*
 * BANNER
 */

.mySlides {
  display: none;
}

/*
 * ARTICLE
 */

article {
  padding: 0.625rem;
}

/*
 * HEADER 
 */

header {
  background-color: #fff;
  border-bottom: 2px solid #b00000;
  padding: 1.25rem 0;
  height: auto;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
}

.logo {
  text-align: center;
}

.logo a img {
  display: inline-block;
}

/*
 * CATEGORY TITLE
 */

.category-title {
  background-color: #e0e0e0;
  color: #b00000;
  font-weight: bold;
  border-bottom: 1px solid #b00000;
  margin-top: 1.25rem;
  margin-bottom: 0.625rem;
  padding: 0.625rem;
  text-align: center;
}

/*
 * VIDEOS
 */

.card {
  margin-bottom: 0.625rem;
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, .05);
}

.card img {
  width: 100%;
}

.card-body {
  background-color: #e0e0e0;
}

.card-title {
  border-bottom: 1px solid #b00000;
  background-color: #fff;
  padding: 0.625rem;
}

.card-details-1, .card-details-2 {
  padding: 0.625rem;
}

.card-username {
  text-decoration: underline;
}

.card-btn {
  border-top: 1px solid #fff;
  text-align: center;
  display: block;
  background-color: #cbcbcb;
  color: #01ab30;
  padding: 0.625rem;
}

/*
 * FOOTER
 */

footer {
  background-color: #2b2b2b;
  color: #fff;
  font-weight: bold;
  padding: 1.25rem 0;
  text-align: center;
}

.copyright {
  padding: 0 0.625rem;
}

/*
 * HELPER CLASSES
 */

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.clearfix::after {
  display: block;
  clear: both;
  content: "";
}

.d-none {
  display: none;
}

.d-block {
  display: block;
}