/*
 * RESET
 */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, 
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, 
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, 
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, 
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

html {
  font-size: 1rem; /* 16px */
}

body {
  font-family: Helvetica, Arial, sans-serif;
  background-color: #f1f1f1;
  color: #333;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: #b00000;
  text-decoration: none;
}

em { 
  font-style: italic;
}

/*
 * HEADER 
 */

header {
  background-color: #fff;
  border-bottom: 2px solid #b00000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
  margin-bottom: 0.625rem;
  padding: 1.25rem 0.625rem;
}

.account-settings {
  text-align: right;
}

.account-settings ul {
  position: relative;
  bottom: 0.625rem; /* 10px */
}

.account-settings ul li { 
  display: inline-block;
  padding-left: 0.3125rem; /* 5px */
}

.account-settings ul li:first-child:after {
  content: "|";
  color: #b00000;
  padding-left: 1.25rem; /* 20px */
}

/*
 * SIDEBAR
 */

.sidebar {
  background-color: #fff;
  height: 100%;
  z-index: 1;
  overflow-x: hidden;
}

.sidebar a {
  display: block;
  padding: 0.625rem;
  text-decoration: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  color: #333;
}

.signup-btn {
  background: #01ab30;
  color: #fff !important;
  font-weight: bold;
}

/*
 * BANNER SLIDER
 */
.banner {
  margin-bottom: 1.25rem;
}

/*
 * CATEGORY TITLE
 */

.category-title {
  background-color: #e0e0e0;
  color: #b00000;
  font-weight: bold;
  border-bottom: 1px solid #b00000;
  margin-bottom: 0.625rem;
  padding: 0.625rem;
}

/*
 * VIDEO CARD
 */

.card {
  margin-bottom: 0.625rem;
}

.card-body {
  background-color: #e0e0e0;
}

.card-title {
  border-bottom: 1px solid #b00000;
  background: #fff;
  padding: 0.625rem;
}

.card-date, .card-duration {
  padding: 0.625rem;
}

.card-username, .card-votes {
  text-align: right;
  padding: 0.625rem;
}

.card-username {
  text-decoration: underline;
}

.card-btn {
  border-top: 1px solid #fff;
  text-align: center;
  display: block;
  background: #cbcbcb;
  color: #01ab30;
  padding: 0.625rem;
}

/*
 * FOOTER
 */

footer {
  margin-top: 6rem; /* 96px */
  background-color: #2b2b2b;
  color: #fff;
  padding: 1.25rem 0.625rem;
  font-weight: bold;
}

.flexbox-centering {
  display: flex;
  justify-content: center;
  align-items: center;
}
