/*
 * RESET
 */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, 
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, 
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, 
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, 
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* 
 * GLOBAL
 */
html {
  font-size: 1rem; /* 16px */
}

body {
  font-family: Helvetica, Arial, sans-serif;
  background-color: #f1f1f1;
  color: #333;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

.container-fluid {
  max-width: 100%;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul, ol {
  list-style-type: none;
}

a {
  color: #b00000;
  text-decoration: none;
}

em { 
  font-style: italic;
}

/*
 * BANNER
 */

.mySlides {
  display: none;
}

/*
 * ARTICLE
 */

article {
  padding: 0.625rem;
}

/*
 * HEADER 
 */

header {
  background-color: #fff;
  border-bottom: 2px solid #b00000;
  height: 65px;
  padding-top: 11px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
  width: 100%;
}

header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: inline-block;
}

.logo img {
  display: block;
}

.menu-btn {
  margin-left: 0.625rem;
}

/*
 * CATEGORY TITLE
 */

.category-title {
  background-color: #e0e0e0;
  color: #b00000;
  font-weight: bold;
  border-bottom: 1px solid #b00000;
  margin-top: 1.25rem;
  margin-bottom: 0.625rem;
  padding: 0.625rem;
  text-align: center;
}

/*
 * VIDEOS
 */

.card {
  margin-bottom: 0.625rem;
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, .05);
}

.card img {
  width: 100%;
}

.card-body {
  background-color: #e0e0e0;
}

.card-title {
  border-bottom: 1px solid #b00000;
  background-color: #fff;
  padding: 0.625rem;
}

.card-details-1, .card-details-2 {
  padding: 0.625rem;
}

.card-username {
  text-decoration: underline;
}

.card-btn {
  border-top: 1px solid #fff;
  text-align: center;
  display: block;
  background-color: #cbcbcb;
  color: #01ab30;
  padding: 0.625rem;
}

/*
 * FOOTER
 */

footer {
  background-color: #2b2b2b;
  color: #fff;
  font-weight: bold;
  padding: 1.25rem 0;
  text-align: center;
}

.copyright {
  padding: 0 0.625rem;
}

/*
 * SIDEBAR
 */

.sidebar {
  background-color: #f1f1f1;
  border-bottom: 1px solid rgba(0,0,0,.125);
  align-self: flex-start;
}

.sidebar a {
  padding: 0.625rem;
  text-decoration: none;
  border: 1px solid rgba(0,0,0,.125);
  color: #333;
  margin-bottom: -1px;
  display: block;
}

.signup-btn {
  background-color: #01ab30;
  color: #fff !important;
  font-weight: bold;
}

/*
.sidebar .active {
 text-decoration: underline;
}

.list-heading {
  font-weight: bold;
  font-size: 1.25rem;
  padding: 0.625rem;
  background-color: #cbcbcb;
}
*/

.sidebar-accordion li {
  background-color: #e0e0e0;
}

/*
 * HELPER CLASSES
 */

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.clearfix::after {
  display: block;
  clear: both;
  content: "";
}

.d-none {
  display: none;
}

.d-block {
  display: block;
}

.flex-column {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.d-flex {
  display: flex;
}

/*
 * MENU BUTTON
 */

.menu-btn .line{
  width: 30px;
  height: 3px;
  background-color: #cbcbcb;
  display: block;
  margin: 8px auto;
  transition: all 0.3s ease-in-out;
}

#menu-btn.expanded .line:nth-child(2) {
  opacity: 0;
}

#menu-btn.expanded .line:nth-child(1) {
  transform: translateY(11px) rotate(45deg);
}

#menu-btn.expanded .line:nth-child(3) {
  transform: translateY(-11px) rotate(-45deg);
}

/*
 * SEARCH BUTTON
 */

.search-btn {
  cursor: pointer;
  font-size: 30px;
  margin-right: 0.625rem;
  color: #cbcbcb;
}

/*
 * SEARCH FORM
 */

.search-form {
  width: 100%;
  font-size: 10px;
}

.search-form input[type=search] {
  width: calc(100% - 68px);
  height: 43px;
  border: 1px solid #cbcbcb;
  padding: 4px 8px;
  margin-left: 0.625rem;
}

.search-form input[type=search]:focus {
  outline: none;
}

.search-form button[type=submit] {
  background-color: #01ab30;
  color: #fff;
  border: none;
  height: 43px;
  width: 43px;
}

.search-form button[type=submit]:focus {
  outline: none;
}