/*
 * RESPONSIVE
 */
 
.d-md-none {
  display: none;
}

.d-md-block {
  display: block;
}

/*
 * HEADER 
 */

/*
 * BANNER SLIDER
 */

/*
 * CATEGORY TITLE
 */

/*
 * SIDEBAR
 */

.sidebar {
  background-color: #fff;
  height: 100%;
  z-index: 1;
  overflow: hidden;
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, .05);
  margin: 0.625rem 0 0 0.625rem;
}

.sidebar a {
  display: block;
  padding: 0.625rem;
  text-decoration: none;
  border: 1px solid rgba(0,0,0,.125);
  color: #333;
  margin-bottom: -1px;
  display: block;
}

/* 
 * FOOTER 
 */

footer.container-fluid {
  text-align: left;
}

/*
 * ARTICLE
 */

article {
  padding-left: 0 !important;
}